body, body * {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  color: #212529;
}

.content {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5vh;
  margin-bottom: 5vh;
  text-align: center;
}

.datacontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: var(--title-size);
  width: 100vw;
  text-align: center;
  margin-top: calc(var(--title-size) / 2);
  margin-bottom: calc(var(--title-size) / 8);
}

.update {
  font-size: var(--text-size);
  width: 100%;
  text-align: center;
}

.update .stats {
  display: inline;
}

.info {
  font-style: italic;
}

.subtitle {
  margin-bottom: var(--text-size);
  font-size: var(--big-text-size);
}

.italia {
  font-size: var(--big-text-size);
  margin-top: calc(var(--title-size) / 2);
  margin-bottom: calc(var(--title-size) / 2);
  margin-left: auto;
  margin-right: auto;
  padding: calc(var(--big-text-size) / 2);
  background-color: inherit;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  max-width: 90vw;
}

.italia .stats {
  width: 40%;
  min-height: 15vh;
  padding: calc(var(--big-text-size) / 2);
  margin-top: calc(var(--text-size) * 1);
  margin-bottom: calc(var(--text-size) * 1);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.italia .stats:last-of-type {
  flex-grow: 1;
}

table {
  text-align: center;
  font-size: var(--text-size);
  border-collapse: collapse;
  vertical-align: middle;
  min-width: 40%;
}

table td {
  padding-left: calc(var(--text-size) / 6);
  padding-right: calc(var(--text-size) / 6);
  padding-top: calc(var(--text-size) / 3);
  padding-bottom: calc(var(--text-size) / 3);
}

table tbody tr:nth-of-type(2n+1) {
  background-color: #ced4da;
}

table th {
  padding-bottom: calc(var(--text-size) / 2);
  padding-top: calc(var(--text-size) / 2);
  padding-left: var(--text-size);
  cursor: pointer;
  user-select: none;
}

table tr {
  padding-left: calc(var(--text-size));
  padding-right: calc(var(--text-size));
}

.darr:after {
  content: "\2193";
  margin-left: calc(var(--text-size) / 3);
  margin-right: calc(var(--text-size) / 3);
}

.uarr:after {
  content: "\2191";
  margin-left: calc(var(--text-size) / 3);
  margin-right: calc(var(--text-size) / 3);
}

.credits {
  font-size: var(--text-size);
  margin-top: 10vh;
  margin-bottom: var(--text-size);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

table, .italia .stats, .chartcontainer {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.24);
}

.chartcontainer {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  padding: var(--text-size);
}

table, .chartcontainer {
  margin-bottom: var(--title-size);
}

.form {
  font-size: var(--text-size);
}

.chartcontainer .form {
  flex-grow: 1;
  text-align: left;
}

.chartcontainer canvas {
  flex-grow: 0;
}

.chartcontainer .form {
  margin-bottom: var(--text-size);
}

@media only screen and (min-width: 480px) {
  .content {
    width: 80vw;
  }

  .title {
    margin-top: calc(0.5 *  var(--title-size));
  }

  .italia {
    max-width: 70vw;
    margin-top: calc(var(--title-size) / 2);
    margin-bottom: calc(var(--title-size) / 2);
  }

  .italia .stats {
    width: 28%;
    flex-grow: 0;
  }

  .italia .stats:last-of-type {
    flex-grow: 0;
  }

  .italia .stats:nth-last-child(1), .italia .stats:nth-last-child(2) {
    width: 40%;
  }

  .datacontainer {
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  table {
    min-width: 30vw;
    max-width: 60vw;
  }

  table td {
    padding-left: var(--text-size);
    padding-right: var(--text-size);
    padding-top: calc(var(--text-size) / 2);
    padding-bottom: calc(var(--text-size) / 2);
  }

  table, .italia .stats {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
  }

  .chartcontainer {
    width: 40%;
    padding: calc(3 * var(--text-size));
  }

  .chartcontainer .form {
    text-align: right;
  }
}

@media only screen and (min-width: 480px)  and (max-width: 1500px) {
  .italia .stats {
    width: 40%;
  }
}
