body, body * {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  color: #212529;
}

#poison-for-kuzco {
  position: absolute;
  left: 25px;
  top: 75px;
  width: var(--poison-for-kuzco-size);
  z-index: 10;
  opacity: 0.05;
  user-select: none;
  pointer-events: none;
}

.error {
  font-size: var(--big-text-size);
  color: red;
}

.mobile {
  display: block;
}

.pc {
  display: none;
}

.italic {
  font-style: italic;
}

.warning {
  color: #ff1744;
}

.label {
  font-size: var(--big-text-size);
}

.content {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5vh;
  margin-bottom: 5vh;
  text-align: center;
}

.datacontainer, .leafletcontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: var(--title-size);
  width: 100vw;
  text-align: center;
  margin-top: calc(var(--title-size) / 2);
  margin-bottom: calc(var(--title-size) / 8);
}

.update {
  font-size: var(--text-size);
  width: 100%;
  text-align: center;
}

.update .stats {
  display: inline;
}

.info {
  font-style: italic;
}

.subtitle {
  margin-bottom: var(--text-size);
  font-size: var(--big-text-size);
}

.italia {
  max-width: 70vw;
  margin-top: var(--title-size);
  margin-bottom: var(--title-size);

  font-size: var(--big-text-size);
  margin-top: calc(var(--title-size) / 2);
  margin-bottom: calc(var(--title-size) / 2);
  margin-left: auto;
  margin-right: auto;
  padding: calc(var(--big-text-size) / 2);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  max-width: 90vw;
}

.italia .stats {
  width: 40%;
  min-height: 15vh;
  padding: calc(var(--big-text-size) / 2);
  margin-top: var(--text-size);
  margin-bottom: var(--text-size);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.alltimechartcontainer {
  max-width: 90vw;
  margin-bottom: calc(var(--title-size) / 2);
  margin-left: auto;
  margin-right: auto;
  padding: var(--text-size);
}

table {
  text-align: center;
  font-size: var(--text-size);
  border-collapse: collapse;
  vertical-align: middle;
  min-width: 60vw;
  max-width: 90vw;
  margin-bottom: var(--title-size);
}

table td {
  padding-left: calc(var(--text-size));
  padding-right: calc(var(--text-size));
  padding-top: calc(var(--text-size) / 3);
  padding-bottom: calc(var(--text-size) / 3);
}

table tbody tr:nth-of-type(2n+1) {
  background-color: #ced4da;
}

table th {
  padding-bottom: calc(var(--text-size) / 2);
  padding-top: calc(var(--text-size) / 2);
  padding-left: var(--text-size);
  cursor: pointer;
  user-select: none;
}

table tr {
  padding-left: calc(var(--text-size));
  padding-right: calc(var(--text-size));
}

.darr:after {
  content: "\2193";
  margin-left: calc(var(--text-size) / 3);
  margin-right: calc(var(--text-size) / 3);
}

.uarr:after {
  content: "\2191";
  margin-left: calc(var(--text-size) / 3);
  margin-right: calc(var(--text-size) / 3);
}

.credits {
  width: 90vw;
  font-size: var(--text-size);
  margin-top: 10vh;
  margin-bottom: var(--text-size);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

table, .italia .stats, .chartcontainer, .mapcontainer, .alltimechartcontainer {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.24);
}

.chartcontainer, .mapcontainer {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  padding: var(--text-size);
  margin-bottom: calc(2 * var(--title-size));
}

.mapcontainer {
  min-height: 65vh;
}

.form {
  flex-grow: 1;
  text-align: left;
  font-size: var(--text-size);
  margin-bottom: var(--text-size);
}

.chartcontainer canvas {
  flex-grow: 0;
}

.dropdown-content {
  font-size: var(--text-size);
}

.leaflet-container {
    background: #f8f9fa;
    outline: 0;
}

.errorcontainer {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.errorcontainer * {
  line-height: 150%;
}

#errorcode {
  font-size: var(--title-size);
}

#errordescription, #goback {
  font-size: var(--big-text-size);
}

#goback, #goback:visited {
  color: inherit;
}

.credits form {
  margin-top: var(--text-size);
  margin-bottom: var(--text-size);
}

@media only screen and (min-width: 480px) {
  .mobile {
    display: none;
  }

  .pc {
    display: block;
  }

  #poison-for-kuzco {
    left: 0;
    top: calc(var(--poison-for-kuzco-size) / 5);
  }

  .content, .credits {
    width: 80vw;
  }

  .title {
    margin-top: calc(var(--title-size / 2));
  }

  .alltimechartcontainer {
    width: 75vw;
    max-width: 1200px;
    margin-top: var(--title-size);
    margin-bottom: var(--title-size);
    padding: calc(2 * var(--text-size));

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-end;
  }

  .italia .stats {
    width: 28%;
    flex-grow: 0;
  }

  .datacontainer {
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75vw;
    max-width: 1200px;
  }

  .leafletcontainer {
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 75vw;
    max-width: 1200px;
  }

  .mapcontainer {
    min-height: 75vh;
  }

  .chartcontainer, .mapcontainer {
    margin-top: calc(1.4 * var(--text-size) + var(--big-text-size));
    width: 40%;
  }

  .mapcontainer {
    width: 60%;
  }

  table {
    min-width: 20vw;
    max-width: 60vw;
  }

  table td {
    padding-left: var(--text-size);
    padding-right: var(--text-size);
    padding-top: calc(var(--text-size) / 2);
    padding-bottom: calc(var(--text-size) / 2);
  }

  table, .italia .stats, .chartcontainer, .alltimechartcontainer {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
  }

  table, .chartcontainer, .mapcontainer {
    margin-bottom: var(--title-size);
  }
}

@media only screen and (min-width: 480px)  and (max-width: 1500px) {
  .italia .stats {
    width: 40%;
  }

  .datacontainer, .leafletcontainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  table {
    margin-bottom: calc(var(--title-size));
  }

  .chartcontainer, .mapcontainer {
    width: 40%;
    margin-bottom: calc(var(--title-size) * 2);
    margin-top: 0;
  }

  .mapcontainer {
    width: 80%;
  }
}
