:root {
  --poison-for-kuzco-size: 35px;
  --text-size: 0.65rem;
  --big-text-size: 1.1rem;
  --title-size: 2rem;
}

@media only screen and (min-width: 480px) {
  :root{
    --poison-for-kuzco-size: 70px;
    --text-size: 1rem;
    --big-text-size: 2rem;
    --title-size: 4rem;
  }
}
