body, body * {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  color: #212529;
}

.content {
  width: 90vw;
  margin-left: 5vw;
  margin-top: 2.5vh;
  margin-bottom: 5vh;
  text-align: center;
}

.title {
  font-size: var(--title-size);
  width: 100%;
  text-align: center;
  margin-top: calc(1 *  var(--title-size));
  margin-bottom: calc(var(--title-size) / 4);
}

.update {
  font-size: var(--text-size);
  width: 100%;
  text-align: center;
  margin-bottom: var(--title-size);
}

.update .stats {
  display: inline;
}

.info {
  font-style: italic;
}

.subtitle {
  margin-top: calc(1.5 * var(--big-text-size));
  font-size: var(--big-text-size);
}

.italia {
  font-size: var(--big-text-size);
  display: inline-block;
  padding: calc(var(--big-text-size) / 2);
  background-color: #e9ecef;
  border-radius: 2px;
}

.italia .stats {
  padding-top: calc(var(--big-text-size) / 2);
}

table.territori {
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(1 * var(--text-size));
  text-align: center;
  font-size: var(--text-size);
  border-collapse: collapse;
  vertical-align: middle;
}

table.territori td {
  padding-left: var(--text-size);
  padding-right: var(--text-size);
  padding-top: calc(var(--text-size) / 3);
  padding-bottom: calc(var(--text-size) / 3);
}

table.territori tbody tr:nth-of-type(2n+1) {
  background-color: #ced4da;
}

table.territori th {
  padding-bottom: calc(var(--text-size) / 2);
}

.darr:after {
  content: "\2193";
  margin-left: calc(var(--text-size) / 3);
}

.uarr:after {
  content: "\2191";
  margin-left: calc(var(--text-size) / 3);
}

@media only screen and (min-width: 480px) {
  .title {
    margin-top: calc(1 *  var(--title-size));
  }

  .italia {
    padding: calc(var(--big-text-size));
  }

  table.territori td {
    padding-left: var(--text-size);
    padding-right: var(--text-size);
    padding-top: calc(var(--text-size) / 2);
    padding-bottom: calc(var(--text-size) / 2);
  }
}
