body, body * {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  color: #212529;
}

.content {
  width: 90vw;
  margin-left: 5vw;
  margin-top: 2.5vh;
  margin-bottom: 5vh;
  text-align: center;
}

.tablecontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: var(--title-size);
  width: 100%;
  text-align: center;
  margin-top: calc(1 *  var(--title-size));
  margin-bottom: calc(var(--title-size) / 4);
}

.update {
  font-size: var(--text-size);
  width: 100%;
  text-align: center;
  margin-bottom: var(--title-size);
}

.update .stats {
  display: inline;
}

.info {
  font-style: italic;
}

.subtitle {
  margin-top: var(--title-size);
  margin-bottom: var(--text-size);
  font-size: var(--big-text-size);
}

.italia {
  font-size: var(--big-text-size);
  display: inline-block;
  padding: calc(var(--big-text-size) / 2);
  background-color: #e9ecef;
  border-radius: 2px;
}

.italia .stats {
  padding-top: calc(var(--big-text-size) / 2);
}

table {
  text-align: center;
  font-size: var(--text-size);
  border-collapse: collapse;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  min-width: 70%;
}

table td {
  padding-left: calc(var(--text-size) / 12);
  padding-right: calc(var(--text-size) / 12);
  padding-top: calc(var(--text-size) / 3);
  padding-bottom: calc(var(--text-size) / 3);
}

table tbody tr:nth-of-type(2n+1) {
  background-color: #ced4da;
}

table th {
  padding-bottom: calc(var(--text-size) / 2);
}

table tr {
  padding-left: calc(var(--text-size) / 6);
  padding-right: calc(var(--text-size) / 6);
}

.darr:after {
  content: "\2193";
  margin-left: calc(var(--text-size) / 3);
}

.uarr:after {
  content: "\2191";
  margin-left: calc(var(--text-size) / 3);
}

.credits {
  font-size: var(--text-size);
  margin-top: 10vh;
  margin-bottom: var(--text-size);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media only screen and (min-width: 480px) {
  .title {
    margin-top: calc(1 *  var(--title-size));
  }

  .italia {
    padding: calc(var(--big-text-size));
  }

  .tablecontainer {
    flex-wrap: wrap;
  }

  table {
    min-width: 30vw;
    max-width: 60vw;
  }

  table td {
    padding-left: var(--text-size);
    padding-right: var(--text-size);
    padding-top: calc(var(--text-size) / 2);
    padding-bottom: calc(var(--text-size) / 2);
  }
}
