<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="description" content="Dashboard vaccino covid19" />
  <meta charset="utf-8">
  {% if title %}
  <title>{{ title }}</title>
  {% elif errorcode %}
  <title>Errore {{ errorcode }} </title>
  {% else %}
  <title>Vaccino Covid-19</title>
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Lorenzo Rossi">
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💉</text></svg>">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.css"
    integrity="sha512-1xoFisiGdy9nvho8EgXuXvnpR5GAMSjFwp40gSRE3NwdUdIMIKuPa7bqoUhLD0O/5tPNhteAsE5XyyMi5reQVA=="
    crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
    integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.js"
    integrity="sha512-SeiQaaDh73yrb56sTW/RgVdi/mMqNeM2oBwubFHagc5BkixSpP1fvqF47mKzPGWYSSy4RwbBunrJBQ4Co8fRWA=="
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/vars.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style-1.1.css') }}">

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-CVK9VDBZY9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-CVK9VDBZY9');
  </script>

  {% block head %}{% endblock %}
</head>

<body>
  <style>
    @font-face {
      font-family: "Roboto";
      src: url("{{ url_for('static', filename='css/Roboto-Regular.ttf') }}");
    }
  </style>
  <img id="alpaca" src="{{ url_for('static', filename='img/alpaca.svg') }}"></img>
  {% block body %}{% endblock %}
</body>

</html>